<h1>後台</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">出勤</th>
      <th scope="col">缺勤</th>
      <th scope="col">值勤中</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{#each states.attendance}}
          {{this.User.account}}<br />
        {{/each}}
      </td>
      <td>
        {{#each states.absent}}
          {{this.User.account}}<br />
        {{/each}}
      </td>
      <td>
        {{#each states.Attending}}
          {{this.User.account}}<br />
        {{/each}}
      </td>
    </tr>
  </tbody>
</table>