<div class="body">
  {{! 當前時間 }}
  <div
    class="time-container"
    style="display: flex;justify-content: center;margin-top: 10%;"
  >
    <h1 id="current-time">{{today}}</h1>
  </div>
  {{! 上下班按鈕 }}
  <div class="checkin&out" style="display: flex;justify-content: center;">
    <form action="/checkin" method="POST" style="margin: 5%;width: 80px;">
      <button type="submit" class="btn btn-primary">上班</button>
    </form>
    <form action="/checkout" method="post" style="margin: 5%;width: 80px;">
      <button type="submit" class="btn btn-danger">下班</button>
    </form>
  </div>
</div>

<script>
  setInterval(() => { const currentTime = new Date().toLocaleTimeString();
  document.getElementById("current-time").textContent = currentTime; }, 1000);
</script>