<div class="container text-center my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card p-4 shadow-lg">
        <h1 id="current-day" class="display-4">{{today}}</h1>
        <h1 id="current-time" class="display-1">{{nowTime}}</h1>
        <div class="d-grid gap-2 col-6 mx-auto my-4">
          <form action="/checkin" method="POST">
            <button type="submit" class="btn btn-warning btn-lg">打卡</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{>message}}
<script>
  setInterval(() => { 
    const currentTime = new Date().toLocaleTimeString();
    document.getElementById("current-time").textContent = currentTime; 
  }, 1000);
</script>
