<div class="body">
  {{! 當前時間 }}
  <div
    class="time-container"
    style="display: flex;justify-content: center;margin-top: 10%;"
  >
    <h1 id="current-time">{{today}}</h1>
  </div>
  {{! 上下班按鈕 }}
  <div class="checkin&out" style="display: flex;justify-content: center;">
    <button
      type="button"
      class="btn btn-primary"
      style="margin: 5%;width: 80px;"
    >上班</button>
    <button
      type="button"
      class="btn btn-danger"
      style="margin: 5%;width: 80px;"
    >下班</button>
  </div>
  {{! 打卡按鈕 }}
  <div class="checkin" style="display: flex;justify-content: center;">
    <button
      type="button"
      class="btn btn-warning"
      style="width: 200px;height: 50px;"
    >打卡</button>
  </div>
</div>

<script>
  setInterval(() => { const currentTime = new Date().toLocaleTimeString();
  document.getElementById("current-time").textContent = currentTime; }, 1000);
</script>